<% provide(:title,"Help") %>
    <h1>Help</h1>
    <p>
        Get the help on the Ruby on Rails Tutorial at the
        <a href="http://wwww.railstutorial.org/help">Rails Tutorial help section</a>
    </p>
